body, main {
    display: flex;
}

body { flex-direction: column; }

main { 
    flex-direction: row;
    flex: auto;
}

article { 
    flex: 2;
    overflow-y: auto; /*removed for map*/

}

aside {
    flex: 1;
    overflow-y: auto;
    text-overflow: wrap;
      word-wrap: break-word;

}

#map-container {
    height: 66%;
    width: 66%;
    position: absolute;
}

.spacer { height: 60px }

html,body{
    margin: 0;
    padding: 0;
}